/*Navegador superior*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    backdrop-filter: blur(1px);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

header div{
    display: flex;
    align-items: center;
}

header img{
    width: 50px;
}

header.hidden {
    transform: translateY(-100%);
}

header h1 {
    margin-left: 10px;
    font-size: 1.8rem;
    color: #ffffff;
}
header ul img{
    display: none;
}

header #btn_menu{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff3b3b;
}

@media screen and (max-width: 720px){
    header nav{
        position: fixed;
        padding: 10px 40px;
        top: 0;
        right: -250px;
        background: rgb(63, 62, 62);
        width: 200px;
        height: 100vh;
        z-index: 1;
        transition: all 300ms;
    }

    header ul{
        flex-direction: column;
        margin-right: 0px;
    }
    
    header nav ul img{
        display: block;
        width: 70px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    header ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    header ul li a{
        color: #ffffff;
        font-size: 20px;
    }
    
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    header #btn_menu{
        display: block;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgb(255, 255, 255, 0.2);
        border-radius: 5px;
        cursor: pointer;
        transition: all 300ms;
    }
    header #btn_menu:hover{
        background: rgb(255, 255, 255, 0.3);
    }

}

/*Seccion de nicio*/
.hero2{
    display: none;
}
.hero{
    position: relative;
    height: 100vh;
    margin: 0;
    margin-top: 0;
}

.hero .timeRelese{
    display: flex;
    flex-direction: column;
    background: #850000;
    position: absolute;
    top: 70px;
    box-shadow: 6px 6px 6px rgb(3, 3, 3);
    cursor: default;
}

.hero .timeRelese h3{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-shadow:1px 1px 1px rgb(3, 3, 3);
}


.hero .buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
}

.hero .buttons img {
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hero .buttons img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 900px){
    .hero{
        display: none;
    }
    
    .hero2{
        display: block;
        height: 100vh;
        margin: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero2 .timeRelese{
        display: flex;
        flex-direction: column;
        background: #850000;
        position: absolute;
        top: 70px;
        box-shadow: 6px 6px 6px rgb(3, 3, 3);
    }

    .hero2 .timeRelese h3{
        font-family: sans-serif;
        font-size: 20px;
        text-align: center;
        color: #000000;
        font-weight: bold;
        text-shadow:1px 1px 1px rgb(3, 3, 3);
    }
    
    .hero2 .LogoHero2{
        width:80%;
    }

    .hero2 h1{
        position: absolute;
        font-size: 70px;
        text-shadow:6px 3px 3px rgb(3, 3, 3);
    }
    .hero2 .buttons{
        bottom: 30px;
        position: absolute;
        display: flex;
        gap: 20px;
        
    }
    .hero2 .buttons img{
        width: 120px;
        min-width: none;
        cursor: pointer;
        transition: transform 0.3s;
    }
    .hero2 .buttons img:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 360px){
    .hero2 h1{
        position: absolute;
        font-size: 50px;
        text-shadow:6px 3px 3px rgb(3, 3, 3);
    }

    .hero2 .buttons img{
        width: 100px;
    }

}

/*Trailer*/

.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2%;
}

.trailer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 720px){
    .trailer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 2%;
    }
    
    .trailer iframe {
        width: 80%;
        height: 60%;
        border: none;
    }
}

/*Más información*/

.mas {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para usar un pseudo-elemento */
    background-color: #121212; /* Fallback si la imagen no carga */
    overflow: hidden; /* Asegura que nada salga del contenedor */
    color: white;
}

.mas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    filter: blur(8px); 
    z-index: 1; 
}

.mas div {
    position: relative;
    z-index: 2; 
    text-align: justify;
    margin: 5%;
    font-size: 2vh;
    text-shadow: 1px 1px 1px rgb(3, 3, 3) ;
}

.mas div .historia{
    margin-top: 30px;
}

@media screen and (max-width: 380px){
    .mas {
        width: auto;
        height: auto;

    }
    .mas div .historia{
        margin-top: 70px;
    }
}

/*Capturas*/

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.carousel-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%; /* Puedes ajustar el ancho según tus necesidades */
    max-width: 1100px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    display: none;
}

.carousel-images img.active {
    display: block;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 30px;
    cursor: pointer;
    position: absolute;
    height: 100vh;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}

button:hover {
    background-color: rgba(253, 253, 253, 0.014);
}

#prevBtn {
    left: 0px;
}

#nextBtn {
    right: 0px;
}

/* Media query para dispositivos pequeños */
@media (max-width: 600px) {
    .carousel-container {
        height: 100vh; /* Permite que la sección se ajuste al contenido */
    }

    .carousel {
        flex-direction: column;
        width: 100%; /* Asegura que el carrusel ocupe el ancho completo en pantallas pequeñas */
        max-width: none;
        margin-bottom: 130px;
    }

    .carousel-images {
        flex-direction: column;
    }

    .carousel-images img {
        width: 100%;
        height: auto;
        
    }

    /* Agregar margin-top al título en dispositivos pequeños */ 
    .carousel-container h1 { 
        margin-top: 70px; /* Ajusta el valor según tus necesidades */ 
    }
    
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #141414;
    color: white;
    text-align: center;
    position: relative;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-media-icons {
    margin-top: 10px;
}

.footer .social-media-icons a {
    margin: 0 5px;
    color: white;
}

.footer-section {
    margin-bottom: 10px;
}
